#### Imports libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#### Request HTTP

#### store website in variable

In [4]:
ua = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36 Edg/92.0.902.62"}

In [16]:
website = 'https://www.coingecko.com/en'

In [17]:
response = requests.get(website)

In [18]:
response.status_code # check request status

200

### Soup Object

In [18]:
soup = BeautifulSoup(response.content, 'html.parser')

In [34]:
results = soup.find('table', {'class':'table-scrollable'}).find('tbody').find_all('tr')

In [36]:
len(results)

100

#### Required data: Name; Price; 24h Change; Market Cap; 24h Volume; Supply

In [56]:
results[0].find('a', {'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip() # Name

'Ethereum'

In [63]:
results[0].find('td', {'class':'td-price'}).get_text().strip() # Price

'$34,415'

In [49]:
results[0].find('td', {'class':'td-change1h'}).get_text().strip() # Hourly price change

'-0.2%'

In [50]:
results[0].find('td', {'class':'td-change24h'}).get_text().strip() # 24 hours price change

'0.4%'

In [51]:
results[0].find('td', {'class':'td-change7d'}).get_text().strip() # 7 days price change

'8.9%'

In [60]:
results[2].find('td', {'class':'td-liquidity_score'}).get_text().strip() # 24 hours volume change

'$44,809,923,769'

In [61]:
results[0].find('td', {'class':'td-market_cap'}).get_text().strip() # Market cap

'$646,133,309,251'

In [64]:
name = []
price = []
change_1h = []
change_24h = []
change_7d = []
volume_24h = []
market_cap=[]

for result in results:
    
    # name
    try:
        name.append(result.find('a', {'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip()) 
    except:
        name.append('n/a')
    
    # price
    try:
        price.append(result.find('td', {'class':'td-price'}).get_text().strip())
    except:
        price.append('n/a')
    
    # change_1h
    try:
        change_1h.append(result.find('td', {'class':'td-change1h'}).get_text().strip())
    except:
        change_1h.append('n/a')
        
    # change_24h
    try:
        change_24h.append(result.find('td', {'class':'td-change24h'}).get_text().strip())
    except:
        change_24h.append('n/a')
    
    # change_7d
    try:
        change_7d.append(result.find('td', {'class':'td-change7d'}).get_text().strip())
    except:
        change_7d.append('n/a')
    
    # volume_24h
    try:
        volume_24h.append(result.find('td', {'class':'td-liquidity_score'}).get_text().strip())
    except:
        volume_24h.append('n/a')
    
    # market_cap
    try:
        market_cap.append(result.find('td', {'class':'td-market_cap'}).get_text().strip())
    except:
        market_cap.append('n/a')

#### Generate Dataframe

In [66]:
# create dataframe
crypto = pd.DataFrame({'Coin': name, 'Price':price, 'Change 1h':change_1h,
                                'Change 24h': change_24h, 'Change 7d': change_7d, 'Volume 24h': volume_24h,
                      'Market Cap': market_cap})

In [67]:
# output dataframe
crypto

,Coin,Price,Change 1h,Change 24h,Change 7d,Volume 24h,Market Cap
0,Bitcoin,"$34,415",-0.2%,0.4%,8.9%,"$19,923,431,440","$646,133,309,251"
1,Ethereum,"$2,157.14",-0.1%,-0.7%,13.5%,"$17,054,176,517","$252,317,274,122"
2,Tether,$1.00,-0.1%,0.1%,-0.1%,"$44,809,923,769","$62,107,519,381"
3,Binance Coin,$298.25,-0.1%,-1.4%,-0.9%,"$1,207,577,404","$46,143,033,202"
4,Cardano,$1.21,-0.3%,-2.3%,2.5%,"$1,056,668,240","$38,789,934,906"
...,...,...,...,...,...,...,...
95,Qtum,$6.05,-0.1%,-2.2%,8.5%,"$133,809,712","$629,069,781"
96,DigiByte,$0.043074874589,-0.5%,4.5%,13.1%,"$59,957,898","$622,867,749"
97,cUSDT,$0.021277606546,-0.0%,-0.0%,0.0%,"$611,923","$614,123,888"
98,Ontology,$0.655504,-0.0%,-1.1%,3.1%,"$124,579,120","$575,282,501"
99,Nexus Mutual,$82.52,-0.0%,-1.2%,13.1%,"$1,604.18","$569,684,257"

#### Export to Excel file

In [69]:
crypto.to_excel('coingecko.com_single.xlsx', index=False)

#### Pagination - Scrape 20 Pages

In [ ]:
name = []
price = []
change_1h = []
change_24h = []
change_7d = []
volume_24h = []
market_cap=[]

for i in range(1,11):
    print(i)
    
    #website 
    website ='https://www.coingecko.com/en?page='+str(i)

    # request to website
    response = requests.get(website)
    
    # soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # results
    results = soup.find('table', {'class':'table-scrollable'}).find('tbody').find_all('tr')
    
    for result in results:
    
        # name
        try:
            name.append(result.find('a', {'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip()) 
        except:
            name.append('n/a')

        # price
        try:
            price.append(result.find('td', {'class':'td-price'}).get_text().strip())
        except:
            price.append('n/a')

        # change_1h
        try:
            change_1h.append(result.find('td', {'class':'td-change1h'}).get_text().strip())
        except:
            change_1h.append('n/a')

        # change_24h
        try:
            change_24h.append(result.find('td', {'class':'td-change24h'}).get_text().strip())
        except:
            change_24h.append('n/a')

        # change_7d
        try:
            change_7d.append(result.find('td', {'class':'td-change7d'}).get_text().strip())
        except:
            change_7d.append('n/a')

        # volume_24h
        try:
            volume_24h.append(result.find('td', {'class':'td-liquidity_score'}).get_text().strip())
        except:
            volume_24h.append('n/a')

        # market_cap
        try:
            market_cap.append(result.find('td', {'class':'td-market_cap'}).get_text().strip())
        except:
            market_cap.append('n/a')

In [73]:
# generate dataframe
crypto = pd.DataFrame({'Coin': name, 'Price':price, 'Change 1h':change_1h,'Change 24h': change_24h,
                       'Change 7d': change_7d, 'Volume 24h': volume_24h,'Market Cap': market_cap})

In [74]:
# output dataframe
crypto

,Coin,Price,Change 1h,Change 24h,Change 7d,Volume 24h,Market Cap
0,Bitcoin,"$34,454",0.1%,1.8%,9.1%,"$20,040,397,625","$648,317,038,359"
1,Ethereum,"$2,157.11",-0.1%,0.5%,13.5%,"$16,933,204,721","$252,573,835,771"
2,Tether,$1.00,-0.1%,0.1%,-0.1%,"$44,809,923,769","$62,070,865,680"
3,Binance Coin,$298.82,0.1%,-0.1%,-0.7%,"$1,239,499,254","$46,270,053,089"
4,Cardano,$1.21,0.0%,-0.9%,2.7%,"$1,130,478,681","$38,796,497,456"
...,...,...,...,...,...,...,...
995,Value DeFi,$1.42,-0.6%,1.5%,2.4%,"$3,323,860","$6,852,449"
996,Gameswap,$0.781502,-0.2%,-31.7%,205.4%,"$1,317,245","$6,846,385"
997,Pickle Finance,$7.12,-0.5%,-9.3%,6.0%,"$2,593,817","$6,795,140"
998,Hodl Token,$0.000000028204,-0.8%,0.4%,124.0%,"$488,892","$6,788,257"
999,SingularDTV,$0.007926779652,4.5%,1.2%,0.3%,"$30,798","$6,760,398"

In [75]:
crypto.to_excel('crypto_multiple_page.xlsx', index=False)